In [1]:
for i in range(1,11):
    if i % 5 == 0:
        break
    else:
        print(i)

1
2
3
4

In [2]:
for i in range(1,11):
    if i % 5 == 0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

In [3]:
while True:
    user = input("enter your name: ")
    if user == "python":
        pwd = input("enter your password: ")
        if pwd == "abc123":
            print("Login Success!!")
            break 
    else:
        continue

enter your name: aedffr
enter your name: python
enter your password: hdhjkf
enter your name: python
enter your password: abc123
Login Success!!

In [5]:
if 12 < 34:
    pass 
else:
    print("else")

In [6]:
def name(username):
    print("Hello",username)
    
name("Arjun")

Hello Arjun

In [8]:
def addition(a,b):
    return a+b,a-b,a*b,a/b

print(addition(10,20))
print(addition(100,200))
print(addition(110,220))

(30, -10, 200, 0.5)
(300, -100, 20000, 0.5)
(330, -110, 24200, 0.5)

In [9]:
def addition(a,b):
    return a+b,a-b,a*b,a/b

add,sub,mul,div = addition(10,20)
print(add)
print(sub)
print(mul)
print(div)

30
-10
200
0.5

In [10]:
def add(a,b):
    return(a+b)
add(10,20)

30

In [11]:
def add(a,b=100):
    return a+b

print(add(100))
print(add(200,200))

200
400

In [12]:
def add(a,b):
    print("a value:",a)
    print("b value:",b)
    return(a+b)
add(b = 10,a = 20)

a value: 20
b value: 10

30

In [13]:
def add(*a):
    return sum(a)

print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

30
60
100

In [14]:
def add(*a):
    m = 1
    for i in a:
        m = m*i
    return m

print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

200
6000
240000

In [15]:
def square(a):
    return a*a

def cube(x):
    return square(x)*x

print(square(10))
print(cube(10))

100
1000

In [16]:
list1 = [12,23.45,True,"abc",12]
print(type(list1))

<class 'list'>

In [17]:
list1 = [1,2,3]
list2 = [10,20,30]
print(list1+list2)
print(list1*3)
print(list1[1])
print(list1[1:3])
print(2 in list1)
print(200 in list1)

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2
[2, 3]
True
False

In [18]:
list1 = [1,2,3,40]
s1 = "python"
print(len(list1))
print(min(list1))
print(max(list1))
list2 = list(s1)
print(list2)

4
1
40
['p', 'y', 't', 'h', 'o', 'n']